.landing_container {
    width: 100%;
    height: 100%;

    .body_container {
      padding-top: 70px;
      position: relative;

      .body_content_container {
        position: absolute;
        top:  70px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
}