.landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .body-container {
      flex: 1;
      align-self: stretch;

      display: flex;
      padding-top: 70px;
    }
}