$transition-type: cubic-bezier(0.550, 0.055, 0.675, 0.190);

.loader-top-container {
  width: 100%;
  height: 100%;
  position: relative;
  
  .loader-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s $transition-type;

    .percentage-text {
      color: white;
      color: white;
      font-size: 50px;
      animation: show 600ms ease;
    }

    .overlay-reveal-container {
      position: absolute;
      z-index: 100;
      height: 70px;
      width: 200px;

      .reveal-div {
        position: absolute;
        left: 0;
        right: 100%;
        bottom: 0;
        top: 0;
        background: #b71c1c;
        transition: right 600ms, left  600ms $transition-type;
      }

      .start-reveal {
        right: 0px;
      }

      .end-reveal {
        left: 200px;
      }
    }
  }

  .hide-loader-container {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
}