@import '~Styles/colors.module';

.timeline_container {
  padding: 60px 60px 0px;
  position: relative;

  .background_image {
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 0;
    // right: 0;
    width: 100vw;
    height: 100vh;

    object-position: left top;
    object-fit: cover;
    z-index: 0;
  }

  .background_overlay {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba($color-black, 0.7);
    z-index: 1;
  }

  .left_background_gradient {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    width: 30vw;
    z-index: 2;

    background-image: linear-gradient(to right, rgba($color-black, 0.7), rgba(0, 0, 0, 0));
  }

  .left_container {
    width: 30vw;
    padding-top: 96px;
    //    background-image: linear-gradient(rgba(0,0,0,0.3), transparent);
    z-index: 3;
  }

  .right_container {
    
  }
}
