@import '~Styles/colors.module';

.timeline_container {
  padding: 60px 60px 0px;
  position: relative;

  .background_image {
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 0;
    // right: 0;
    width: 100vw;
    height: 100vh;

    object-position: left top;
    object-fit: cover;
    z-index: 0;
  }

  .background_overlay {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba($color-black, 0.7);
    z-index: 1;
  }

  .left_background_gradient {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    width: 30vw;
    z-index: 2;

    background-image: linear-gradient(to right, rgba($color-black, 0.7), rgba(0, 0, 0, 0));
  }

  .left_container {
    width: 30vw;
    padding-top: 40px;
    //    background-image: linear-gradient(rgba(0,0,0,0.3), transparent);
    z-index: 3;

    .content_container {
      color: white;
      margin-top: auto;
      margin-bottom: 70px;

      .title {
        font-size: 60px;
      }

      .description_container {
        margin-top: 40px;
        margin-left: 22px;

        .description {
          font-size: 16.5px;
          margin-bottom: 17px;
        }

        .description:last-child {
          margin-bottom: 22;
        }
        
        .button {
          font-size: 16.5px;
          border-radius: 7.8px;
          border: solid 1px white;
          padding: 3px 14px;
          cursor: pointer;
          transition: transform 500ms cubic-bezier(0.1, 0.82, 0.25, 1);
        }

        .button:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .right_container {
    
  }
}
