$transition-time: 800ms;
$transition-type: cubic-bezier(0.1, 0.82, 0.25, 1);

.header-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  transition: all $transition-time $transition-type;

  .content-container {
    display: flex;
    flex-direction: column;
    transition: all $transition-time $transition-type;

    align-items: center;
    justify-content: center;

    .user-pic {
      transition: all $transition-time $transition-type;
      border-radius: 50%;
    }

    .user-description {
      margin-top: 36px;
      text-align: center;

      color: white;
    }

    .user-button-container {
      display: flex;
      margin-top: 26px;
      color: white;
    }
  }
}

.header-normal {
  height: 150px;

  .content-container {
    width: 100px;
    height: 100px;
  }

  .user-pic {
    width: 50px;
    height: 50px;
  }
}

.header-fullscreen {
  height: 100%;

  .content-container {
    width: 500px;
    height: 500px;
    margin-right: calc(50% - 250px);
  }

  .user-pic {
    width: 300px;
    height: 300px;
  }
}