$transition-time: 1s;
$transition-type: cubic-bezier(0.1, 0.82, 0.25, 1);
// cubic-bezier(0.550, 0.055, 0.675, 0.190) // need to try

//-----------------------------------------------------------prefixed header state
.header-container {
  // align-items: center;
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;  
  
  .header-link-container {
    position: absolute;
    opacity: 1;
    right: 130px;
    top: 26px;
    color: white;
  }

  .content-container {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    // justify-content: center;

    .user-pic {
      animation: show-animation 600ms ease;
    }

    .user-description-container {
      margin-top: 36px;

      .user-description {
        text-align: center;
        color: white;
      }
  
      .user-button-container {
        display: flex;
        margin-top: 26px;
        color: white;
      }
    }
  }
}

//--------------------------------------------------------normal header state
.header-normal {
  height: 70px;
  transition: height 1s $transition-type;

  .header-link-container {
    transition: opacity 600ms ease 600ms, top 600ms ease 600ms;
  }

  .content-container {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-right: 40px;
    transition: height 600ms ease, width 600ms ease, margin-right 600ms ease, margin-top 600ms ease;
  }

  .user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: height 600ms ease, width 600ms ease, border-radius 600ms ease;
  }
}

//--------------------------------------------------------fullScreen
.header-fullscreen {
  height: 100%;
  transition: height 1s $transition-type;

  .header-link-container {
    transition: opacity 600ms ease, top 600ms ease;
    top: -20px;
    opacity: 0;
  }

  .content-container {
    width: 500px;
    height: 500px;
    margin-right: calc(50% - 250px);
    margin-top: calc(50vh - 250px);
    transition: height $transition-time $transition-type 300ms, width $transition-time $transition-type 300ms, margin-right $transition-time $transition-type 300ms, margin-top $transition-time $transition-type 300ms;
  }

  .user-pic {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    transition: height $transition-time $transition-type 300ms, width $transition-time $transition-type 300ms, margin-right $transition-time $transition-type 300ms, margin-top $transition-time $transition-type 300ms, border-radius $transition-time $transition-type 300ms;
  }
}

.animate-hide {
  animation: hide-animation 600ms ease forwards;
}

.animate-show {
  animation: show-animation 500ms ease;
}
//-----------------------------------------------------animation

@keyframes show-animation {
  from {
    opacity: 0;
    margin-top: 100px;
  }
}

@keyframes hide-animation {
  to {
    opacity: 0;
  }
}
