@import "~Styles/colors.module";
@import "~Styles/mixins.module";

$transition-time: 1s;
$transition-type: cubic-bezier(0.1, 0.82, 0.25, 1);
// cubic-bezier(0.550, 0.055, 0.675, 0.190) // need to try

//-----------------------------------------------------------prefixed header state
.header_container {
  // align-items: center;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;

  .header_contact_container {
    position: absolute;
    opacity: 1;
    left: 66px;
    top: 26px;
  }

  .header_link_container {
    position: absolute;
    opacity: 1;
    right: 130px;
    top: 26px;

    .bodytype_container {
      padding: 0px 6px;

      .header_link_button {
        color: white;
        font-size: 16px;
        transition: opacity 0.6s ease;
        &:hover {
          cursor: pointer;
          opacity: 0.4;
        }
      }

      .header_link_button:nth-child(2) {
        margin-left: 16px;
      }
    }

    .underline {
      height: 1px;
      width: 62px;
      background: white;
    }
  }

  .content_container {
    position: absolute;
    right: 0;

    .user_pic {
      border-radius: 50%;
      z-index: 1;
    }
    .user_pic_clickable {
      @include on_click_button;
    }
  }
}

//--------------------------------------------------------normal header state
.header_normal {
  .header_link_container {
    transition: opacity 600ms ease 600ms, top 600ms ease 600ms;
  }

  .header_contact_container {
    transition: opacity 600ms ease 600ms, top 600ms ease 600ms;
  }
}

//--------------------------------------------------------fullScreen
.header_fullscreen {
  .header_link_container {
    transition: opacity 600ms ease, top 600ms ease;
    top: -20px;
    opacity: 0;
  }

  .header_contact_container {
    transition: opacity 600ms ease, top 600ms ease;
    top: -20px;
    opacity: 0;
  }
}

.header_background_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  transform: scale(1.1);
}
