
//material-color: 600:
$color-blue: #1E88E5;
$color-purple: #8E24AA;
$color-teal: #00897B;
$color-blue-grey: #546E7A;
$color-cyan: #00ACC1;

$color-list: ($color-teal, $color-blue, $color-purple, $color-blue-grey, $color-teal);
