@import '~Styles/mixins.module';
@import '~Styles/colors.module';

.mobile_overlay_top_container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none;
  background: $color-dark;
  color: white;
  font-size: 18px;

  .content_container {
    padding: 26px;

    .message_container {
      padding: 20px;
      background: rgba(white, 0.3);
    }

    .contact_component {
      margin-top: 30px;
    }
  }
}



@include medium {
  .mobile_overlay_top_container {
    display: block;

  }
}
