@import '~Styles/mixins.module';
@import '~Styles/colors.module';

.mobile_overlay_top_container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: none;
  background: $color-dark;
  color: white;
  font-size: 12px;

  .content_container {
    padding: 20px;
    overflow: auto;

    .message_container {
      padding: 16px;
      text-align: center;
    }

    .contact_component {
      margin-top: 16px;
      margin-bottom: 10px;
    }

  }
}

.hint_text {
  color: $color-blue;
}

.resume_image {
  width: 100%;
  // height: -webkit-fill-available;
  object-fit: contain;
  object-position: top;
}

@include medium {
  .mobile_overlay_top_container {
    display: flex;
  }
}
