@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.user_description_container {
  left: calc(50vw - 265px);
  padding: 118px 90px 41px;
  border-radius: 35px;
  box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.35);
  background-color: rgba(#ffffff, 0.87);
  max-width: 350px;
  position: absolute;
  z-index: 1;

  color: $color-dark;
  font-size: 13px;

  .contact_container {
    margin-top: 38px;
  }

  .user_description {
    text-align: center;

    .name {
      color: $color-blue;
      font-size: 14px;
    }
  }

  .user_button_container {
    margin-top: 30px;
    flex-wrap: wrap;

    .user_button {
      font-size: 14px;
      font-weight: bold;
      margin: 0px 3px;
      cursor: pointer;
      color: $color-green;
      // animation: animate-float 2s infinite;
      transition: transform 300ms ease-out;

      .underline {
        height: 2px;
        width: 0px;
        transform: translateY(1px);
        background: $color-green;
        transition: width 300ms ease-out;
      }

      .show_underline {
        transition: width 500ms ease;
        width: 100%;
      }
    }

    .user_button:hover {
      transform: translateY(-2px);

      .underline {
        width: 0px;
      }
    }
  }
}


@include medium {
  .user_description_container {
    padding: 90px 16px 20px;
    border-radius: unset;
    max-width: unset;
    left: unset;

    .user_button_container {
      margin-top: 20px;
    }
  
    .contact_container {
      margin-top: 30px;
    }
  }
}

@keyframes animate-float {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(0px, 100px);
  }

  80% {
    transform: translate(0px, -100px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
