@import '../../commonStyles/colors';

.intro-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .intro-text {
    color: white;
    font-size: 50px;
    white-space: nowrap;
  }

  .intro-text-container2 {
    margin-top: -67px;
    margin-right: -1086px;
  }

  .animate-left {
    transition: all 0.5s ease;
    margin-right: -150px;
    opacity: 0;
  }

  .animate-right {
    transition: all 0.5s ease;
    margin-left: -150px;
    opacity: 0;
  }

  .animate-bottom {
    transition: all 0.5s ease;
    margin-top: -100px;
    opacity: 0;
  }

  .animate {
    opacity: 1;
    margin: 0px;
  }
}
