.user_description_container {
  margin-top: 36px;

  .user_description {
    text-align: center;
    color: white;
  }

  .user_button_container {
    margin-top: 26px;
    color: white;

    .user_button {
      cursor: pointer;
      color: #b71c1c;
    }

    .user_button:nth-child(2) {
      margin-left: 16px;
    }
  }
}