@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.intro_container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .intro_text {
    color: white;
    font-size: 50px;
    white-space: nowrap;
  }

  .animate_left {
    transition: transform 0.5s $transition-fast-in-slow-out, opacity 0.5s ease;
    // margin-right: -150px;
    transform: translate(-150px, 0px);
    opacity: 0;
  }

  .animate_right {
    transition: transform 0.5s $transition-fast-in-slow-out, opacity 0.5s ease;
    // margin-left: -150px;
    transform: translate(-150px, 0px);
    opacity: 0;
  }

  .animate_bottom {
    transition: transform 0.5s $transition-fast-in-slow-out, opacity 0.5s ease;
    // margin-top: -100px;
    transform: translate(0px, -80px);
    opacity: 0;
  }

  .animate {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  .inline_container {
    display: inline-block;
    text-align: center;
  }
}

