@import '~Styles/colors.module';
@import '~Styles/mixins.module';

$transition-curve: cubic-bezier(0.7, 0, 0.3, 1); //$transition-fast-in-slow-out;
$transition-skew-reveal: $transition-slow-in-fast-out;
$transition-reveal-right: $transition-fast-in-slow-out;

.intro_container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: rgba($color-dark, 0.9);

  .intro_text {
    color: white;
    font-size: 50px;
    white-space: nowrap;
    transition: all 0.4s $transition-curve;
  }

  .animate_left {
    // margin-right: -150px;
    transform: translate(-150px, 0px);
    opacity: 0;
  }

  .animate_right {
    // margin-left: -150px;
    transform: translate(-150px, 0px);
    opacity: 0;
  }

  .animate_bottom {
    // margin-top: -100px;
    transform: translate(0px, -80px);
    opacity: 0;
  }

  .animate {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  .inline_container {
    display: inline-block;
    text-align: center;
  }

  .reveal_container {
    overflow: hidden;
  }

//----------------------------reveal-center-skew
.reveal_center_animate_skew {
  position: relative;
  overflow: hidden;

  &::after {
    content: " ";
    position: absolute;
    display: block;
    height: 100%;
    width: 130%;
    left: 0;
    top: 0;
    background: $color-dark;
    z-index: 1;
    transform: skew(-15deg);
    transition: .4s all $transition-skew-reveal;
  }
  &::before {
    content: " ";
    position: absolute;
    display: block;
    height: 100%;
    width: 130%;
    right: 0;
    top: 0;
    background: $color-dark;
    z-index: 1;
    transform: skew(-15deg);
    transition: .4s all $transition-skew-reveal;
  }
}

.animate.reveal_center_animate_skew {
  &::after {
    left: 130%;
  }

  &:before {
    right: 130%;
  }
}

//----------------------------reveal-top
  .reveal_animate_top {
    opacity: 1;
    transform: translateY(-100px);
    color: $color-blue;
  }

  .animate.reveal_animate_top {
    transform: translateY(0px);
  }

//----------------------------reveal-right
  .reveal_animate_right {
    opacity: 0;
    margin-left: -300px;
    transition: color 1s ease, opacity 0.8s $transition-reveal-right,  margin-left 0.8s $transition-reveal-right;
    color: $color-blue;
  }

  .animate.reveal_animate_right {
    opacity: 1;
    margin-left: 0px;
    color: white;
  }
  
//----------------------------flip_animate

  .flip_animate_top {
    transform: rotateX(90deg);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform-origin: top;
  }
  
  .animate.flip_animate_top {
    transform: rotateX(0deg);
    opacity: 1;
  }

//---------------------------reveal-skew
  .reveal_animate_skew {
    position: relative;
    overflow: hidden;
    opacity: 0;
    color: $color-blue;
  
    &::after {
      content: " ";
      position: absolute;
      display: block;
      height: 100%;
      width: 110%;
      left: -20px;
      top: 0;
      background: $color-dark;
      z-index: 1;
      transform: skew(-45deg);
      transition: .4s left $transition-skew-reveal;
    }
  }

  .animate.reveal_animate_skew {
    opacity: 1;

    &::after {
      left: 100%;
    }
  }
//------------------------end
  
}






//--------------------------------------cover reveal animation
.cover_reveal_container {
  height: 60px;
  width: 200px;  
  margin-top: -20px;
  position: relative;
}

.cover_reveal_layer {
  position: absolute;
  left: 0;
  right: 100%;
  height: 100%;
  background: $color-blue;
}

.animate_layer {
	 -webkit-animation: anim-effect-2-1 1.5s $transition-slow-in-fast-out forwards;
	 animation: anim-effect-2-1 1.5s $transition-slow-in-fast-out forwards;
}

@keyframes anim-effect-2-1 {
	0% {
    left: 0;
    right: 100%;
	}
	40%,
	70% {
    right: 0;
    left: 0;
		-webkit-animation-timing-function: ease;
		animation-timing-function: ease;
	}
	100% {
    left: 100%;
    right: 0;
	}
}
