@import '../example_colors.module';

.page_container {
  color: white;

  h1,h3 {
    font-weight: 300;
  }
}

.page_title {
  font-size: 42px;
  margin-top: 40px;
}

.image_container {
  height: 230px;
  width: 230px;
  position: relative;
  cursor: pointer;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: $color-blue;

    transition: transform 0.4s, opacity 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: translateY(0px)
    }
  }

  .tech_image {
    width: 150px;
    z-index: 1;
  }
}

// Looping through color list and creating color class with appending index to the class ex: - .class_2
// and applying background color from the color array
@for $index from 1 through length($color-list) {
  .color_#{$index} {
    &::before {
      background: nth($color-list, $index);
    }
  }
}
