@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.project_details_container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;

  .cross_img {
    width: 16px;
    object-fit: contain;
    position: absolute;
    top: 20px;
    left: 20px;

    @include on_click_button;
    z-index: 2;
  }

  // .left_container {
  //   width: 55%;
  //   background-color: $color-dark;
  //   position: relative;


  // }

  .container {
    flex: 1;
    max-width: 980px;
    margin: 30px 10px 0px 10px;
    // overflow: auto;
    position: relative;

    .header_container {
      align-self: stretch;
      // overflow: auto;
      position: relative;
      margin: 0px 80px
    }

    .link_container {
      min-height: 48px;

      .project_link {
        z-index: 1;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        border: solid 1px $color-dark;
        padding: 2px 18px;
        text-decoration: none; 
        color: $color_dark;

        @include on_click_button;
      }  

    }

    .content_container {
      overflow: auto;
      margin-top: 10px;
      z-index: 1;      

      // For scroll bar
      // margin-right: -10px;
      // padding-right: 10px;
  

      .content {
        margin-top: 290px;
        padding: 0px 80px;
        margin-bottom: 50px;
      }
    }

    // .content_container::-webkit-scrollbar {
    //   margin-right: -8px;
    //   width: 4px !important;
    // }
    
    // /* Track */
    // .content_container::-webkit-scrollbar-track {
    //   border-radius: 10px !important;
    // }
    
    // /* Handle */
    // .content_container::-webkit-scrollbar-thumb {
    //   background: rgba($color-dark, 0.3) !important;
    //   border-radius: 10px !important;
    // }
  }
}
