@import '~Styles/colors.module';

.project_details_container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;

  .left_container {
    width: 35%;
    background-color: $color-dark;
  }

  .right_container {
    flex: 1;
    margin: 30px 40px 0px 40px;
    // overflow: auto;
    position: relative;

    .project_image {
      position: absolute;
    }

    .project_name {
      position: absolute;
      color: $color-dark;
      line-height: 1;
    }

    .project_sub_details_container {
      position: absolute;
      right: 0;
      top: 0;
    }

    .content_container {
      overflow: auto;
      margin-top: 31px;

      .content {
        background-color: blue;
        margin-top: 300px;
      }
    }
  }
}
