@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.project_details_container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;

  .left_container {
    width: 55%;
    background-color: $color-dark;

    .pagination_container {
      padding: 0px 31px;
    }
  }

  .right_container {
    flex: 1;
    margin: 30px 40px 0px 40px;
    // overflow: auto;
    position: relative;


    .link_container {
      min-height: 48px;

      .project_link {
        z-index: 1;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        border: solid 1px $color-dark;
        padding: 2px 18px;
        text-decoration: none; 
        color: $color_dark;

        @include on_click_button;
      }  

    }

    .project_image {
      position: absolute;
      object-fit: contain;
    }

    .project_name {
      position: absolute;
      color: $color-dark;
      line-height: 1;
    }

    .project_sub_details_container {
      position: absolute;
      right: 0;
      font-size: 15px;
      font-weight: 500;
      color: $color-dark;
      line-height: 1;      

      .title {
        color: $color-brown-grey;
        margin-bottom: 2px;
      }

      .value {
        text-transform: capitalize;
      }

      .project_involvement {
        margin-top: 15px;
      }
    }

    .content_container {
      overflow: auto;
      margin-top: 10px;
      z-index: 1;

      .content {
        margin-top: 290px;
        margin-bottom: 350px;
      }
    }
  }
}
