.project-container {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show-animation 500ms ease;

  .text {
    color: white;
    font-size: 50px;
  }
}


@keyframes show-animation {
  from {
    opacity: 0;
    margin-top: 100px;
  }
}