@import '~Styles/colors.module';
$transition-type: cubic-bezier(0.550, 0.055, 0.675, 0.190);

.loader_top_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  .loader_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;

    .loading_text {
      margin-left: auto;
      align-self: center;
      color: white;
      font-size: 40px;
      margin-right: 36px;
    }

    .loader_width_percentage {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: $color-dark;
      overflow: hidden;

      .percentage_text {
        color: white;
        font-size: 50px;
        animation: show 600ms ease;
        align-self: center;
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }
}



.background_gradient {
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  transform: scale(1.1);
}



@keyframes show {
  from {
    opacity: 0;
  }
}