@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.company_logo_container {
  border-radius: 20px;
  height: 38px;
  background: $color-black;
  position: relative;
}

.onclick_selector {
  @include on_click_button;
}

.logo {
  height: 22px;
}

.first_logo_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;
}


.vertical_divider {
  width: 5px;
  height: 30px;
  background: $color-black;
  margin: -1px 16.5px;
}