@import '~Styles/colors.module';

.description_container {
  font-size: 15px;
  color: $color-dark;

  .text {
    padding: 12px;
  }

  .header {
    margin-top: 24px;
    padding-left: 12px;
    font-size: 18px;
    font-weight: bold;
  }

  .points_container {
    padding: 0px 12px;

    .title {
    }

    .points_ul {
      margin: 6px 0px;
    }
  }

}


.highlight_green {
  background-color: rgba($color-green, 0.1);
}
  
.highlight_blue {
  background-color: rgba($color-blue, 0.1);
}
