@import '~Styles/mixins.module';

.right_container {
  overflow: hidden;
  z-index: 3;
  padding-left: 250px;

  .slide_container {
    position: relative;
    align-self: stretch;
    height: 450px;
    padding: 50px 0px 50px 260px;
  }

  .slide_inner_container {
    align-self: stretch;
    overflow-x: hidden;
    height: 450px;
    padding: 50px 0px 50px 260px;
    position: absolute;
    top: 0;
    left: 0;

    .slide_items {
      width: 183px;
      min-width: 183px;
      height: 311px;
      background: green;
      margin-right: 39px;
      // box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.35);
      border-radius: 6px;
      background-color: rgba(white, 0.8);
      transition: background-color 600ms ease;

      .image_container{
        .image {

        }        
      }

      .content_container {

      }
    }

    .is_selected {
      background-color: rgba(white, 1);
    }
  }

  .left_button_container {
    margin: 0px 10px;
  }

  .button_container {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgba(white, 0.3);

    @include on_click_button;

    .arrow {
      width: 13px;
      height: 13px;
    }

    .right_arrow {
      transform: scale(-1);
    }
  }
}
