@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.timeline_container {
  padding: 80px 20px 20px 20px;
  position: relative;
  overflow: hidden;
}

.image_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .image {
    flex: 1;
    width: 100%;
    object-fit: cover;
  }
}

.image_container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color-dark, 0.7);
}

.content_container {
  z-index: 1;
}
